<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Home</title>
    <link rel="stylesheet" href="/photos/photos.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
    <div class="container">
        <div id="homepageBtn" class="btn valign-wrapper">
            <i class="material-icons">home</i>
            <span class="">Home Page</span>
        </div>

        <div id="profileBtn" class="btn valign-wrapper">
            <i class="material-icons">account_box</i>
            <span class="">Profile Page</span>
        </div>

        <div id="logOut" class="btn right">
            <i class="material-icons">lock</i>
            <span>Log Out</span>
        </div>

        <h1 class="center-align">Welcome to your photos
            <%= user.firstname[0].toUpperCase() + user.firstname.slice(1) %>!</h1>

        <div class="carousel">
           <% data.photos.forEach(photo => { %>
            <% if (photo.url) { %>
                <img class="responsive-img carousel-item" src=<%= photo.url %> />
            <% } else { %>
                <img class="responsive-img carousel-item" src=<%= photo.url_picture %> />
            <% } %>
        <% }) %>
          </div>
           

    </div>
    <script src="/photos/photos.js"></script>
</body>

</html>