body {
    background-image: url("https://wallpapersmug.com/download/750x1334/1cae56/sunrise_digital_art_4k.jpg");
}

#profileDiv {
    height: auto;
}
.user {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.one {
    background-image: url('http://placehold.it/400x200');
}

#profilePic {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

#profileName {
    font-size: 200%;
}

#quoteDiv {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 20%;
}

#textCard {
    display: block;
    margin-top: 10%;
    margin-right: auto;
    margin-left: 25%;
    width: 50%;
    height: 20%;
    border-radius: 10%;

}

.border-radius {
    border-radius: 20px;
}

.card {
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.images {
    height: 100%;
    width: 100%;
}

.cardImages {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.time {
    font-size: 80%;
}

  .card:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
    background-color: mintcream;
  }

.editIcon {
    position: absolute;
    top: 30%;
    left: 90%;
    transform: translate(-50%,-50%);
}