<<<<<<< HEAD
=======
    <!-- SIMPLE TEXT POST -->
    <!-- <div id="textPostDiv" class="container center-align">
            <div class="row center-align">
                    <div id="textCard" class="col s12 m5 center-align">
                      <div class="card-panel teal center-align">
                        <span class="white-text center-align">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </span>
                      </div>
                    </div>
            </div>
    </div> -->
>>>>>>> 91a758963771f8eebfaa2fa001901ad720cbe261
